<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <li>{{ currentStudent.name }}</li>
    Presente?
    <button>Sim</button>
    <button>Não</button>
  </div>
  <div class="col-md-2"></div>
</div>